$hover-color: #449d44;

* {
  font-family: 'Open Sans', sans-serif;

  b {
    font-weight: 700;
  }
}

.navbar.navbar-inverse {
  background-color: #000000;

  .navbar-brand {
    font-family: 'Pacifico', 'Open Sans', sans-serif;
    color: #ffffff !important;
    margin-right: 20px;

    &:hover {
      color: $hover-color !important;
    }

  }

  ul.nav {
    li {
      &.active, &:hover {
        a {
          background-color: $hover-color;
        }
      }
    }
  }

}







.image-container {
  position: relative;
}
.image-box {
  position: absolute;
  border: 6px solid turquoise;
  box-sizing: border-box;
}